
<h1>click User Mail icon</h1>
<h2>我是{{user.name}}，我的ID是{{user.id}}</h2>


<a href="/private/{{user.id}}">
<div id="User3"><img src="https://cdn-icons-png.flaticon.com/512/893/893268.png" width="100px"alt=""></div></a>

<p>{{privateChatMemberData}}</p>



<script src="/socket.io/socket.io.js"></script>
<script>

  const socket = io.connect('http://localhost:3000', {})

  document.addEventListener("DOMContentLoaded", () => {
    const User3 = document.getElementById("User3") //id4

    socket.on("connect", function () {
      console.log('connect')
    })
    // TODO
    User3.addEventListener('click', (e) => {
      socket.emit("joinPrivate", [4, 2])
    })

  })
</script>